Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [173]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [174]:
import pandas as pd
import numpy as np

In [175]:
df  = pd.read_csv('/content/drive/MyDrive/PAD/LAB04/orders.csv')

In [176]:
df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016/11/19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016/08/02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017/03/09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016/10/04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016/12/16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [177]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [178]:
df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [179]:
df['tshirt_category'].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Wh Tshirt F',
       'Black T-Shirt F', 'Hoodie', 'Black T-Shirt M', 'Tennis Shirt',
       'Wh Tshirt M', 'Bl Tshirt F', 'Bl Tshirt M'], dtype=object)

In [180]:
df['tshirt_category'].nunique()

10

In [181]:
df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace('Wh',"White") if x.startswith("Wh ") else x.replace('Bl',"Black") if x.startswith("Bl ") else x)

In [182]:
df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,White Tshirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [183]:
df['tshirt_category'].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'White Tshirt F',
       'Black T-Shirt F', 'Hoodie', 'Black T-Shirt M', 'Tennis Shirt',
       'White Tshirt M', 'Black Tshirt F', 'Black Tshirt M'], dtype=object)

In [184]:
df['tshirt_category'].nunique()

10

In [185]:
df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace('Tsh', "T-Sh") if 'Tshirt' in x else x)

In [186]:
df['tshirt_category'].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Black T-Shirt F', 'Hoodie',
       'Black T-Shirt M', 'Tennis Shirt'], dtype=object)

In [187]:
df['tshirt_category'].nunique()

6

In [188]:
#4 do rozdzielenia wystarczy split, nie potrzebny apply
df[['tshirt_colour', 'tshirt_type', 'tshirt_size']] = df.tshirt_category.str.split(expand=True)

In [189]:
df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,White,T-Shirt,M
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,White,T-Shirt,M
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,White,T-Shirt,F
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,White,T-Shirt,F
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,White,T-Shirt,M
...,...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1,White,T-Shirt,M
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,White,T-Shirt,M
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1,White,T-Shirt,M
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5,Hoodie,None,None
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3,Black,T-Shirt,M

In [190]:
df['tshirt_type'] = df['tshirt_colour'].apply(lambda x: x if (x.startswith("Hoo") or x.startswith("Tenni")) else 'T-Shirt')

In [191]:
df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,White,T-Shirt,M
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,White,T-Shirt,M
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,White,T-Shirt,F
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,White,T-Shirt,F
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,White,T-Shirt,M
...,...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1,White,T-Shirt,M
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,White,T-Shirt,M
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1,White,T-Shirt,M
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5,Hoodie,Hoodie,None
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3,Black,T-Shirt,M

In [192]:
df['tshirt_type'].unique()

array(['T-Shirt', 'Hoodie', 'Tennis'], dtype=object)

In [193]:
df['tshirt_colour'].unique()

array(['White', 'Black', 'Hoodie', 'Tennis'], dtype=object)

In [194]:
df['tshirt_size'].unique()

array(['M', 'F', None], dtype=object)

In [195]:
df['tshirt_colour'].loc[(df['tshirt_colour'] == 'Hoodie') | (df['tshirt_colour'] == 'Tennis')] = np.nan

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [196]:
df['tshirt_colour'].unique()

array(['White', 'Black', nan], dtype=object)

In [197]:
df.drop(columns='tshirt_category', inplace=True)

In [198]:
df

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
0,2016-09-04,9,HTS-038040-0002,038040,20.0,1,White,T-Shirt,M
1,2014-11-14,11,HTS-801797-0001,801797,20.0,1,White,T-Shirt,M
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,18.0,3,White,T-Shirt,F
3,2013-12-01,10,HTS-914324-0001,914324,18.0,1,White,T-Shirt,F
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,20.0,1,White,T-Shirt,M
...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,20.0,1,White,T-Shirt,M
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,20.0,1,White,T-Shirt,M
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,20.0,1,White,T-Shirt,M
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,23.0,5,NaN,Hoodie,None
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,19.0,3,Black,T-Shirt,M

In [199]:
#31 grudnia 2014 a 2 sierpnia 2016
df[(df['order_date'] > '2014-12-31') & (df['order_date'] < '2016-08-02')]

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,20.0,1,White,T-Shirt,M
5,2016-01-15,9,HTS-061311-0003,061311,17.5,4,Black,T-Shirt,F
12,2015-11-24,15,HTS-je57lh-0001,je57lh,23.0,3,NaN,Hoodie,None
13,2015-10-10,8,HTS-252675-0002,252675,20.0,3,White,T-Shirt,M
15,2015-11-29,15,HTS-heb26i-0001,heb26i,17.5,1,Black,T-Shirt,F
...,...,...,...,...,...,...,...,...,...
26460,2016-07-09,15,HTS-mu1tec-0001,mu1tec,18.0,1,White,T-Shirt,F
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,17.5,1,Black,T-Shirt,F
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,18.0,1,White,T-Shirt,F
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,23.0,1,NaN,Hoodie,None
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,20.0,4,White,T-Shirt,M

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [200]:
df2 = pd.read_csv('/content/drive/MyDrive/PAD/LAB04/customers.csv')

In [201]:
df2

,customerID,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
...,...,...,...,...,...,...
18761,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

In [207]:
df2.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [202]:
#shapy porownaj rozmiary kolumn

In [213]:
df2.shape #rozmiar ramki z zadania 2

(18766, 6)

In [212]:
df.shape #rozmiar ramki z zadania 1

(26552, 9)

In [218]:
#df2.columns[0] = 'customer_id'
df2.rename({'customerID': 'customer_id'}, axis=1, inplace=True)

In [219]:
df2

,customer_id,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
...,...,...,...,...,...,...
18761,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

In [220]:
df3 = pd.merge(df, df2, on='customer_id') # używam pd.merge(df, df2, on='customer_id') do złączenia dwóch dataFrame'ów

In [223]:
'''używam pd.merge(df, df2, on='customer_id') do złączenia dwóch dataFrame'ów'''

"używam pd.merge(df, df2, on='customer_id') do złączenia dwóch dataFrame'ów"

In [221]:
df3

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,20.0,1,White,T-Shirt,M,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,18.0,1,White,T-Shirt,F,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,20.0,1,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,20.0,2,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,18.0,3,White,T-Shirt,F,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25877,2016-11-02,11,HTS-762534-0001,762534,23.0,1,NaN,Hoodie,None,M,1963/8/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,58.3.164.178,True
25878,2016-11-16,4,HTS-hrpv38-0001,hrpv38,20.0,3,White,T-Shirt,M,F,1951/8/15,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,118.210.235.250,True
25879,2014-07-12,16,HTS-978569-0001,978569,23.0,1,NaN,Hoodie,None,M,1986/11/19,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,112.172.97.50,False
25880,2016-08-05,11,HTS-k0batl-0001,k0batl,20.0,2,White,T-Shirt,M,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False
25881,2017-03-13,11,HTS-200121-0001,200121,24.0,1,NaN,Tennis,None,F,1969/8/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,56.182.53.24,False

In [222]:
df3.index.nunique()

25882

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [224]:
df4 = pd.merge(df, df2, on='customer_id')

In [227]:
df4.to_csv("/content/drive/MyDrive/PAD/LAB04/new_df4.csv", index=False)